/* BOOTSTRAP TYPE STUFF                    */

#sv_trending_widget_wrap  .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation; 
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#sv_trending_widget_wrap .btn:focus,
#sv_trending_widget_wrap .btn:active:focus,
#sv_trending_widget_wrap .btn.active:focus,
#sv_trending_widget_wrap .btn.focus,
#sv_trending_widget_wrap .btn:active.focus,
#sv_trending_widget_wrap .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#sv_trending_widget_wrap .btn,
#sv_trending_widget_wrap .btn:hover,
/*#sv_trending_widget_wrap .btn:focus,*/
#sv_trending_widget_wrap .btn.focus {
  /*color: #333;*/
  text-decoration: none;
}
#sv_trending_widget_wrap .btn:active,
#sv_trending_widget_wrap .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#sv_trending_widget_wrap .btn.disabled,
#sv_trending_widget_wrap .btn[disabled],


/* CUSTOM STUFF */
#sv_trending_widget_wrap .btn, #sv_trending_widget_wrap .btn:visited, 
#sv_trending_widget_wrap .btn:focus {
color:#fff;
background:url('http://www.shoecarnival.com/static/img/site/gradient-orange.gif') repeat-x left bottom #f9b71e;
}

#sv_trending_widget_wrap .btn:hover {
color:#fff;
background-image:none;
}

/*SV Stuff      */

#sv_trending_widget_wrap {
  width: 310px;
  background: rgba(0, 0, 0, 0);
  display: inline-block;
  position: fixed;
  top: 200px;
  right: -93px;
  z-index: 999;
}

#sv_trending_widget_wrap.sv_trending_widget_init {
z-index:0;
visibility:hidden;
}

#sv_trending_widget_wrap.sv_trending_widget_left {
left:0px;
right:auto;
}


#sv_trending_widget_wrap ul {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #000;
  list-style: outside none none;
  display: inline;
}

#sv_trending_widget_tab_wrap {
width:100%;
overflow:hidden;
}

#sv_trending_widget_content_wrap {
background:#fff;
border:1px solid #cacaca;
box-shadow:3px 3px 8px #cacaca;
}

.sv_trending_widget_left #sv_trending_widget_content_wrap {
box-shadow:-3px 3px 8px #cacaca;
}

#sv_trending_widget_content_wrap a {
color:#333;
}

#sv_trending_widget_content_wrap .sv_name a:hover {
color:#999;
}

#sv_trending_widget_content_wrap a.btn {
color:#fff;
}

.sv_trending_widget_tab {
  float: left;
  color: #231F20;
  /* margin-right: 0px; */
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #DDDDDD;
  border-bottom: 3px solid #DDD;
  background-color: #EDEDED;
  cursor: pointer;
}

.sv_trending_widget_left .sv_trending_widget_tab {
float:right;
box-shadow:-1px 1px 5px #cacaca;
}

.sv_trending_widget_tab span {
font-size: 15px;
display: block;
padding: 10px;
}

.sv_trending_widget_tab_arrow {
  /* width: 0px; */
  /* height: 0px; */
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid #666;
  top: 17%;
  /* bottom: 10%; */
  /* margin-top: 350%; */
  position: relative;
}

.sv_trending_arrow_right {
  height: 15px;
  width:100%;
  border: 1px solid #EDEDED;
  background-color: #FAFAFA;
  cursor:pointer;
  margin-top: 5px;
  position: absolute;
  bottom:0px;
}

.sv_trending_arrow_right:hover {
background-color:#cacaca;
}

.sv_trending_arrow_left {
  height: 15px;
  width:100%;
  border: 1px solid #EDEDED;
  background-color: #FAFAFA;
  cursor: pointer;
  position: absolute;
  top:0px;
}

.sv_trending_arrow_left:hover {
background-color:#cacaca;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #969696;
  right: 45%;
  position: absolute;
  margin-top: 3px;
}

.arrow-left {
  width: 0px;
  height: 0px;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid #969696;
  right: 45%;
  position: absolute;
  padding-top: 2px;
}

.sv_arrow_disabled {
opacity:.2;
}

.sv_trending_widget_tab:hover {
  background: #C3C3C3;
  border-bottom: 3px solid #6DB758;
}

.sv_trending_widget_tab.active {
    border: 1px solid #DADADA;
  /* background: url('http://www.shoecarnival.com/static/img/site/gradient-orange.gif') repeat-x left bottom #F9B719; */
  background-color: #CACACA;
  color: #231F20;
  border-bottom: 3px solid #B3B2B2;
  box-shadow: 1px 1px 5px #CACACA;
  /* font-weight: 600; */
}

#sv_trending_widget_content_wrap {
    clear:both;
    width: 100%;
    position:relative;
    padding:15px 0px;
}

#sv_trending_widget_content {
  /*padding-top:2px;*/
  padding-left: 20px;
  overflow:hidden;
  min-height:290px;
  max-height:290px;
  
}

.sv_trending_widget_content_item {
  clear: both;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #EDEDED;
  height: 96px;
  /*padding-top: 2px;*/
  float:left;
}

.sv_trending_widget_content_item:last-child {
  border-bottom:none;
}

.sv_trending_widget_content_item:hover {
background:#eee;
}

#sv_trending_widget_content_inner {
display:inline-block;
}

.sv_thumb_wrap {
float:left;
width:100px;
overflow:hidden;
}

.sv_thumb_wrap img{
height:auto;
width:100px;
padding:2px;
}

.sv_desc_wrap {
float:left;
display:inline-block;
width:calc((100% - 100px)*.74);
max-width:calc((100% - 100px)*.74);
padding-top:20px;
}

.sv_desc_wrap span {
width:100%;
text-align:center;
font-size:14px;
color:#444;
font-family:"HelveticaNeueW01-45Ligh", Sans-Serif;
}

.sv_name {
float:left;
font-weight:bold;
color:#000;
}

.sv_name:hover {
cursor:pointer;
}

.sv_partnum {
clear:both;
float:left;
}

.sv_price {
clear:both;
float:left;
}

.sv_price.has_sale {
text-decoration:line-through;
}

.sv_sale_price {
clear:both;
float:left;
color:red!important;
font-weight:bold;
}

.sv_action_wrap {
float:left;
width:calc((100% - 100px)*.24);
text-align:center;
margin-top:25px;
}

/* 
#sv_more_content {
clear:both;
width:100%;
text-align:center;
cursor:pointer;
color:#333;
font-weight:bold;
padding:5px;
}
 */
#sv_more_content:hover {
text-decoration:underline;
}

#sv_trending_widget_close {
  position: absolute;
  right: 5px;
  z-index: 10;
  cursor: pointer;
}

#sv_trending_expando_wrap {
  display: inline-block;
  left: -88px;
  position: absolute;
  border: 1px solid #549940;
  
  top: 96px;
  background-color: #6DB758;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding:10px;
  color:#fff;
  font-size:16px;
  border-radius:0px 0px 5px 5px;
  cursor:pointer;
}

#sv_trending_widget_wrap.sv_trending_widget_left  #sv_trending_expando_wrap {
left:auto;
right:-93px;
border-radius:5px 5px 0px 0px;
border-top:1px solid #666;
border-bottom;none;
}

#sv_trending_expando_wrap:hover {
background-image:none;
}

#sv_trending_widget_content_inner {
width:100%;
}
